* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f7f7f9;
}

/* header-background-mobile */
.header,
.headline {
  background-color: #fff;
}

/* headline */
.headline {
  background-image: url("header-shapes mobile@1x.png");
  border-bottom-left-radius: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.header {
  width: 100%;
  height: 100%;
  padding: 0 25px;
  margin: 0;
}

/* menu bar */
.menubar {
  color: #6070ff;
}

/* nav bar */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 24px;
}

/* My Logo */
.logo {
  width: 100%;
  height: 25%;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #6070ff;
}

/* headline-1 */
.headline-1 {
  width: 70%;
  height: 100%;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 43px;
  line-height: 53px;
  align-items: center;
  color: #172b4d;
  margin-top: 100px;
  margin-left: 25px;
}

/* headline-2 */
.headline-2 {
  width: 80%;
  height: 100%;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 28px;
  color: #344563;
  margin-left: 25px;
}

/* Let's connect */
.connect {
  width: 100%;
  height: 80%;
  margin-top: 40px;
  margin-left: 20px;
  margin-right: 25px;
}

h4 {
  width: 80%;
  height: 100%;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  margin-left: 24px;
  margin-right: 24px;
}

/* Social media icons */
.headline-images {
  display: flex;
  width: 100%;
  height: 100%;
  margin-left: 24px;
  margin-bottom: 130px;
  list-style-type: none;
}

/* Vector */
.vector {
  height: 25px;
  width: 40px;
  padding: 5px 5px;
  color: #505f79;
}
