* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f7f7f9;
}

/* header-background-mobile */
.header,
.headline,
.base {
  background-color: #fff;
}

/* headline */
.headline {
  background-image: url("header-shapes mobile@1x.png");
  background-repeat: no-repeat;
  border-bottom-left-radius: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.header {
  width: 100%;
  height: 100%;
  padding: 0 25px;
  margin: 0;
}

/* menu bar */
.menubar {
  color: #6070ff;
}

/* nav bar */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 24px;
}

/* My Logo */
.logo {
  width: 100%;
  height: 25%;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #6070ff;
}

.container,
.container-1 {
  display: grid;
  grid-template-columns: 1fr;
  gap: 12px;
  background-color: #fff;
  margin: 70px 14px;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
}

.container-1 {
  height: 680px;
}

.project-title-1 {
  height: 50px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  width: 295px;
  padding: 16px;
  margin-bottom: 30px;
  margin-top: -20px;
}

/* card-1 */
.card-image {
  border-radius: 8px;
  padding: 16px;
}

.card-img {
  width: 100%;
}

/* Project titles */
.project-title {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  width: 295px;
  height: 36px;
  padding: 16px;
}

.texts {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 5px;
  margin-top: 5px;

  /* margin-bottom: 5px; */
}

.dot {
  width: 8px;
  height: 8px;
  background: #c1c7d0;
  border-radius: 100%;
  padding: 5px;
  margin: 24px 12px;
}

.bold-text {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
  width: 55px;
  height: 16px;
  margin-left: 16px;
}

.text-1 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
  width: 90px;
  height: 16px;
}

.text-2 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
  width: 29px;
  height: 16px;
}

.primary-text {
  width: 80%;
  height: 79px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  margin: 0 16px;
}

li {
  display: flex;
  float: left;
  list-style-type: none;
  margin-top: 0;
}

.html {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
  width: 57px;
  height: 24px;
  padding: 4px 12px 4px 12px;
  background: #ebebff;
  border-radius: 8px;
  margin: 8px;
}

.css {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
  width: 49px;
  height: 24px;
  background: #ebebff;
  border-radius: 8px;
  padding: 4px 12px 4px 12px;
  margin: 8px;
}

.js {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #6070ff;
  border-radius: 8px;
  width: 100px;
  height: 24px;
  background: #ebebff;
  padding: 4px 12px 4px 12px;
  margin: 8px;
  justify-content: center;
}

.button {
  background-color: #fff;
  color: #396df2;
  padding: 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  margin: 20px 16px;
  cursor: pointer;
  border: 1px solid #6070ff;
  border-radius: 8px;
}

/* headline-1 */
.headline-1,
.about-base {
  width: 70%;
  height: 100%;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 43px;
  line-height: 53px;
  align-items: center;
  color: #172b4d;
  margin-top: 100px;
  margin-left: 25px;
}

/* headline-2 */
.headline-2,
.about-text {
  width: 80%;
  height: 100%;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  margin-left: 25px;
  padding-top: 16px;
}

/* Let's connect */
.connect {
  width: 100%;
  height: 80%;
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 25px;
}

h4 {
  width: 80%;
  height: 100%;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  margin-left: 24px;
  margin-right: 24px;
}

/* Social media icons */
.headline-images {
  display: flex;
  width: 100%;
  height: 100%;
  margin-left: 24px;
  margin-bottom: 131px;
  list-style-type: none;
}

.connect-images {
  display: flex;
  width: 100%;
  height: 100%;
  margin-left: 5px;
  margin-top: 10px;
  margin-bottom: 5px;
  list-style-type: none;
}

/* Vector */
.vector {
  height: 25px;
  width: 40px;
  margin-left: 10px;
  color: #505f79;
}

.base {
  border-top-right-radius: 70px;
}

.about-myself {
  padding: 25px 16px 16px 13px;
}

.languages {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #000;
  padding: 30px 18px 15px 16px;
  justify-content: space-between;
}

.bar {
  height: 60px;
  width: 303px;
  display: flex;
  margin-left: 16px;
  margin-bottom: 12px;
  background-color: #dfe1e6;
  border-radius: 5px;
  list-style-type: none;
  padding-right: 16px;
}

.bar-img {
  height: 48px;
  width: 48px;
  padding-top: 10px;
  padding-left: 16px;
}

.css-bar,
.html-bar,
.js-bar {
  padding-top: 20px;
  padding-left: 16px;
}

.frame {
  justify-content: space-between;
  border-bottom: 2px solid rgb(211, 211, 211);
  height: 50%;
  width: 90%;
  display: flex;
  margin-left: 16px;
}

.skills,
.frameworks,
.forward {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000;
}

.arrow {
  padding-right: 16px;
}

.frameworks,
.skills {
  padding-top: 16px;
}

button:hover {
  background: #6070ff;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
}

/* Form */
#contact-me {
  border: 1px solid transparent;
  background: #6070ff;
  border-radius: 100px 0 0 0;
  background-image: url(Assets/contact-mee.png);
  background-position: right top;
  background-repeat: no-repeat;
  margin-top: 145px;
  padding-top: 90px;
}

.form-content-container {
  width: 100%;
  margin: 0 24px;
  flex-direction: column;
}

.form-header {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  width: 90%;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  color: #fff;
}

.form-description {
  transition: transform 2s ease-in-out;
  width: 90%;
  margin: 12px 0 52px 0;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0;
  text-align: center;
  color: #ebebff;
}

form {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-left: 24px;
  margin-right: 24px;
  gap: 18px;
}

.form-element,
textarea {
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0;
  text-align: left;
  padding: 15px 16px;
}

textarea {
  height: 170px;
  width: 100%;
  margin-top: -2px;
  margin-bottom: 22px;
  color: #000;
  font-size: 15px;
  line-height: 24px;
}

.form-element {
  width: 100%;
  height: 48px;
  color: #172b4d;
}

.submit-btn-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#submit-btn {
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: center;
  border-radius: 8px;
  padding: 12px 16px;
  width: 50%;
  height: 48px;
  border: none;
  color: #6070ff;
  transition: linear 0.3s;
  margin-bottom: 32px;
}

.black-line-container {
  display: flex;
  align-items: center;
  width: 134px;
  height: 5px;
  margin-bottom: 8px;
  margin-left: 100px;
}
