* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  position: relative;
  background-color: #f7f7f9;
}

/* header-background-mobile */
.header,
.headline,
.base {
  background-color: #fff;
}

/* headline */
.headline {
  background-image: url("./background-svg/header-shapes\ mobile\ \(1\).png");
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom-left-radius: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.header {
  width: 100%;
  padding: 5px 10px;
  margin: 0;
}

/* menu bar */
.menubar {
  color: #6070ff;
}

.mobile-menu-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 180vh;
  background: #6070ff;
  background-color: #293ad0cc;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  backdrop-filter: blur(5px);
  padding-left: 80px;
  padding-top: 150px;
  z-index: 9999;
}

.closebtn {
  width: 24px;
  height: 24px;
  margin: 20px 80px 20px 250px;
}

.menu-link {
  text-decoration: none;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 44px;
  display: flex;
  align-items: center;
  padding-bottom: 40px;
}

/* nav bar */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 24px;
}

.logo {
  width: 8%;
}

.mobile-logo {
  width: 70px;
}

.list-items{
  display: flex;
  align-items: center;
  font-family: 'Poppins', sans-serif;
}

.btn {
  font-family: 'Poppins', sans-serif;
  padding: 6px 12px;
  background-color: #2230d2;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.5s
}

/* My Logo */
.logo {
  height: 25%;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #6070ff;
}

.desktop-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 85.333px;
  background: #fff;
  box-shadow: 0px 5.333px 80px 0 rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.navbar {
  display: flex;
  align-items: center;
  position: fixed;
  background: #fff;
  box-shadow: 0px 5.333px 80px 0 rgba(0, 0, 0, 0.1);
  top: 0;
  left: 0;
  right: 0;
}

.container,
.container-1 {
  display: grid;
  grid-template-columns: 1fr;
  gap: 12px;
  background-color: #fff;
  margin: 70px 14px;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
}

.project-title-1 {
  height: 50px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 27px;
  line-height: 44px;
  color: #172b4d;
  width: 80%;
  padding: 16px;
  margin-top: -20px;
}

/* card-1 */
.card-image {
  border-radius: 8px;
  padding: 16px;
  width: 100%;
}

.card-img {
  width: 100%;
}

.project-btn {
  display: flex;
}

/* Project titles */
.popup-title,
.project-title {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
  color: #172b4d;
  padding: 0 16px;
}

.popup-texts,
.texts {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 5px;
}

.popup-texts {
  height: 10px;
}

.dot {
  width: 8px;
  height: 8px;
  background: #c1c7d0;
  border-radius: 100%;
  padding: 5px;
  margin: 24px 12px;
}

.popup-bold-text,
.bold-text {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
  height: 16px;
  margin-left: 16px;
}

.popup-text-1,
.text-1 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
  height: 16px;
}

.popup-text-2,
.text-2 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
  width: 29px;
  height: 16px;
}

.primary-text {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  margin: 0 16px;
}

li {
  display: flex;
  float: left;
  list-style-type: none;
  margin-top: 0;
}

.html {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
  width: 57px;
  height: 24px;
  padding: 4px 12px 4px 12px;
  background: #ebebff;
  border-radius: 8px;
  margin: 8px;
}

.css {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
  width: 49px;
  height: 24px;
  background: #ebebff;
  border-radius: 8px;
  padding: 4px 12px 4px 12px;
  margin: 8px;
}

.js {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #6070ff;
  border-radius: 8px;
  height: 24px;
  background: #ebebff;
  padding: 4px 12px 4px 12px;
  margin: 8px;
  justify-content: center;
}

.ruby {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #6070ff;
  border-radius: 8px;
  width: 105px;
  height: 24px;
  background: #ebebff;
  padding: 4px 10px 2px 10px;
  margin-top: 8px;
  margin-left: 8px;
  justify-content: center;
}

.button {
  background-color: #fff;
  color: #396df2;
  padding: 5px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  margin: 20px 16px;
  cursor: pointer;
  border: 1px solid #6070ff;
  border-radius: 8px;
}

.a_btn{
  color: #396df2;
}

/* headline-1 */
.headline-1,
.about-base {
  width: 90%;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 43px;
  line-height: 53px;
  align-items: center;
  color: #172b4d;
  margin-top: 100px;
  margin-left: 25px;
}

/* headline-2 */
.headline-2,
.about-text {
  width: 90%;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #344563;
  margin-left: 25px;
  padding-top: 16px;
}

/* Let's connect */
.connect {
  width: 100%;
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 25px;
}

h4 {
  width: 80%;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 14px;
}

/* Social media icons */
.headline-images {
  display: flex;
  width: 100%;
  margin-left: 24px;
  margin-bottom: 131px;
  list-style-type: none;
  align-items: center;
}

.connect-images {
  display: flex;
  align-items: center;
  width: 100%;
  margin-left: 5px;
  margin-top: 10px;
  margin-bottom: 5px;
  list-style-type: none;
}

/* Vector */
.vector {
  height: 18px;
  width: 30px;
  margin-left: 10px;
  color: #505f79;
}

.vector:hover {
  transform: translateY(-10px);
  transition: all 0.6s ease-in-out;
}

.tiktok {
  height: 30px;
  width: 35px;
}

.base {
  border-top-right-radius: 70px;
}

.about-myself {
  padding: 25px 16px 16px 13px;
}

.languages {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #000;
  padding: 30px 18px 15px 16px;
  justify-content: space-between;
}

.tag-div {
  display: flex;
}

.language-bar{
  display: flex;
}

.bar {
  height: 60px;
  width: 303px;
  display: flex;
  margin-bottom: 12px;
  border-radius: 5px;
  list-style-type: none;
}

.bar-img {
  padding-top: 10px;
  padding-left: 16px;
}

.css-bar,
.html-bar,
.js-bar {
  padding-top: 20px;
  padding-left: 16px;
}

.frame-div {
  display: flex;
}

.frame {
  justify-content: space-between;
  width: 90%;
  display: flex;
  margin-left: 16px;
  padding-bottom: 15px;
}

.skills,
.frameworks,
.forward {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000;
}

.arrow {
  padding-right: 16px;
}

.frameworks,
.skills {
  padding-top: 16px;
}

.button:hover, .a_btn:hover {
  color: #fff;
  background: #6070ff;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
}

.button:active {
  color: #fff;
  background: #2230d2;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
}

#submit-btn {
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: center;
  border-radius: 8px;
  padding: 12px 16px;
  width: 50%;
  height: 48px;
  border: none;
  color: #6070ff;
  transition: linear 0.3s;
  margin-bottom: 32px;
}

#submit-btn:hover {
  color: #fff;
  background: #6070ff;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
}

#submit-btn:active {
  color: #fff;
  background: #2230d2;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
}

.logo:hover {
  transform: rotate(180deg);
}

/* Form */
#contact-me {
  border: 1px solid transparent;
  background: #6070ff;
  border-top-left-radius: 80px;
  background-image: url(Assets/contact-mee.png);
  background-position: right top;
  background-repeat: no-repeat;
  margin-top: 145px;
}

.form-content-container {
  width: 100%;
  margin: 0 24px;
  flex-direction: column;
}

.form-header {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  width: 70%;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  color: #fff;
  margin-top: 87px;
  margin-left: 30px;
}

.form-description {
  transition: transform 2s ease-in-out;
  width: 90%;
  margin: 12px 0 52px 0;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0;
  text-align: center;
  color: #ebebff;
}

form {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-left: 24px;
  margin-right: 24px;
  gap: 18px;
}

.form-element,
textarea {
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0;
  text-align: left;
  padding: 15px 16px;
}

textarea {
  height: 170px;
  width: 100%;
  margin-top: -2px;
  margin-bottom: 22px;
  color: #000;
  font-size: 15px;
  line-height: 24px;
}

.form-element {
  width: 100%;
  height: 48px;
  color: #172b4d;
}

.submit-btn-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.black-line-container {
  display: flex;
  align-items: center;
  width: 134px;
  height: 5px;
  margin-bottom: 8px;
  margin-left: 100px;
}

.desktop-header,
.card-image-desktop,
.project-title-desktop,
.bold-text-desktop,
.text-1-desktop,
.primary-text-desktop,
.project-title1-desktop,
.card-image-desktop1,
.mobile-menu {
  display: none;
}

/* Mobile Popup */

.mobile-project-title {
  display: flex;
  justify-content: space-between;
}

.popup-close {
  width: 16px;
  height: 16px;
  margin: 30px 30px 0 26px;
}

.popup-img {
  width: 90%;
  margin: 15px 16px 5px 16px;
}

hr {
  width: 90%;
  margin: auto;
  background-color: #ebecf0;
}

.tags-popup {
  height: 5vh;
  width: 100%;
  padding-left: 10px;
}

.button-popup1 button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px;
  gap: 0.5rem;
}

.button-popup1 {
  width: 45%;
}

.button-div {
  display: flex;
  width: 100%;
  gap: 12px;
}

.popup-text {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  padding: 5px 10px;
}

.btn-popup-img {
  padding-left: 6px;
}

#mobile-popup {
  display: none;
  position: fixed;
  top: 0;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 100vh;
  background: #fff;
  background: #c1c7d0b6;
}

.overlay {
  background-color: #fff;
  width: 90%;
  height: 95vh;
  margin: 20px auto;
  border-radius: 16px;
  border: 1px solid #dfe1e6;
}

.button-popup {
  background-color: #fff;
  color: #396df2;
  padding: 12px;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  margin: 10px 16px 10px 16px;
  cursor: pointer;
  border: 1px solid #6070ff;
  border-radius: 8px;
}

.error {
  display: none;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .navbar,
  .menu,
  .card-image,
  .bold-text,
  .text-1,
  .primary-text,
  .project-title,
  .project-title-1,
  .black-line-container,
  #mobile-popup {
    display: none;
  }

  .popup-img {
    width: 95%;
    margin: 20px 16px 12px 16px;
  }

  .button-div {
    display: flex;
    width: 100%;

    /* gap: 12px; */
  }

  .popup-flex,
  .tags-popup {
    display: flex;
  }

  .popup-flex {
    display: grid;
    grid-template-columns: 2fr 1fr;
    width: 100%;
  }

  /* .popup-list {

  } */

  .headline {
    background-image: url("./background-svg/Header-bg.png");
    padding: 150px 100px 55px 100px;
  }

  #contact-me {
    background-image: url("./background-svg/contact\ form\ background\ shapes.png");
  }

  .headline-1 {
    width: 70%;
  }

  .base {
    display: flex;
  }

  .desktop-header,
  .list-items,
  .bold-text-desktop,
  .text-1-desktop,
  .primary-text-desktop,
  .ruby,
  .project-title-desktop,
  .project-title1-desktop {
    display: flex;
  }

  .desktop-header {
    padding: 5px 20px;
  }

  .list-item {
    padding-left: 32px;
  }

  .container,
  .container-1 {
    display: flex;
    flex-direction: row;
    gap: 2px;
  }

  .desktop-title {
    width: 100%;
  }

  .card-image-desktop,
  .card-image-desktop1 {
    display: flex;
    border-radius: 8px;
    padding: 16px;
    width: 100%;
    align-items: center;
  }

  .card-img-desktop,
  .card1-img-desktop {
    width: 100%;
  }

  .card1-img-desktop {
    order: 2;
  }

  .text-order {
    order: 1;
  }

  .texts {
    display: flex;
    align-items: center;
    padding-left: 5px;
    width: 80%;
  }

  .project-title-desktop,
  .project-title1-desktop {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 44px;
    color: #172b4d;
    width: 100%;
    height: 36px;
    padding: 16px;
    margin-right: 2px;
  }

  .bold-text-desktop {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    color: #344563;
    height: 16px;
    margin-left: 16px;
  }

  .text-1-desktop {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    color: #7a869a;
    height: 16px;
  }

  .primary-text-desktop {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #344563;
    margin: 0 16px;
  }

  .button {
    background-color: #fff;
    color: #396df2;
    padding: 5px 12px;
    text-align: center;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    margin: 0 16px 35px 16px;
    cursor: pointer;
    border: 1px solid #6070ff;
    border-radius: 8px;
  }

  .tags {
    height: 7vh;
    width: 100%;
    padding-left: 10px;
  }

  .languages, .frame {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: normal;
  }

  .language-desktop {
    width: 100%;
    margin-top: 100px;
    padding-left: 30px;
  }

  .language-bar {
    display: flex;
  }

  .bar {
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 90px;
  }

  .html-bar,
  .css-bar,
  .js-bar {
    padding-top: 10px;
  }

  .about-myself {
    width: 90%;
  }

  .about-base {
    margin-top: 50px;
  }

  .about-text {
    width: 90%;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
    margin-left: 25px;
    padding-top: 16px;
  }

  .form-content-container {
    padding: 100px 120px 0 120px;
  }

  .form-header {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    width: 90%;
    font-size: 40px;
    font-weight: 700;
    line-height: 52px;
    color: #fff;
    margin-top: 87px;
  }

  .form-description {
    transition: transform 2s ease-in-out;
    width: 100%;
    margin: 12px 0;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0;
    text-align: center;
    color: #ebebff;
  }

  form {
    display: flex;
    flex-direction: column;
    width: 85%;
    padding-left: 25px;
    gap: 20px;
  }

  .form-element,
  textarea {
    background: #fff;
    border-radius: 2px;
    border: 1px solid #cfd8dc;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0;
    text-align: left;
    padding: 15px 16px;
  }

  textarea {
    height: 170px;
    width: 100%;
    margin-top: -2px;
    margin-bottom: 27px;
    color: #000;
    font-size: 15px;
    line-height: 24px;
  }

  .form-element {
    width: 100%;
    height: 48px;
    color: #172b4d;
  }

  .submit-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  #submit-btn {
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-align: center;
    border-radius: 8px;
    padding: 12px 10px;
    width: 40%;
    height: 48px;
    border: none;
    color: #6070ff;
    transition: linear 0.3s;
    margin-bottom: 50px;
  }

  .html {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.03em;
    color: #6070ff;
    width: 50px;
    height: 24px;
    padding: 4px 10px 2px 10px;
    background: #ebebff;
    border-radius: 8px;
    margin-right: 2px;
  }

  .css {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.03em;
    color: #6070ff;
    width: 45px;
    height: 24px;
    background: #ebebff;
    border-radius: 8px;
    padding: 4px 10px 2px 10px;
    margin-left: 6px;
  }

  .js {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #6070ff;
    border-radius: 8px;
    width: 90px;
    height: 24px;
    background: #ebebff;
    padding: 4px 10px 2px 10px;
    margin-left: 1px;
    justify-content: center;
  }

  .ruby {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #6070ff;
    border-radius: 8px;
    width: 105px;
    height: 24px;
    background: #ebebff;
    padding: 4px 10px 2px 10px;
    margin-top: 8px;
    margin-left: 2px;
    justify-content: center;
  }

  .card-image-desktop1 {
    order: 2;
  }

  .project,
  .project1 {
    width: 100%;
  }

  .button-popup {
    background-color: #fff;
    color: #396df2;
    padding: 12px;
    text-align: center;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    margin: 10px 16px 20px 16px;
    cursor: pointer;
    border: 1px solid #6070ff;
    border-radius: 8px;
  }

  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    .navbar,
    .menu,
    .card-image,
    .bold-text,
    .text-1,
    .primary-text,
    .project-title,
    .project-title-1,
    .black-line-container {
      display: none;
    }

    .headline {
      background-image: url("./background-svg/Header-bg.png");
      padding: 150px 100px 55px 100px;
    }

    .desktop-header,
    .list-items,
    .bold-text-desktop,
    .text-1-desktop,
    .primary-text-desktop,
    .ruby,
    .project-title-desktop,
    .project-title1-desktop {
      display: flex;
    }

    .list-item {
      padding-left: 32px;
    }

    .container,
    .container-1 {
      display: flex;
      margin: 60px;
      gap: 2px;
    }

    .container-1 {
      padding: 2px;
    }

    .desktop-title {
      width: 100%;
    }

    .card-image-desktop,
    .card-image-desktop1 {
      display: flex;
      width: 100%;
      border-radius: 8px;
      padding: 16px;
    }

    .card-img-desktop {
      width: 100%;
    }

    .card-image-desktop1 {
      order: 2;
    }

    .project-title-desktop,
    .project-title1-desktop {
      font-family: 'Poppins', sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 27px;
      line-height: 44px;
      color: #172b4d;
      width: 100%;
      height: 36px;
      padding-top: 30px;
      padding-bottom: 30px;
    }

    .bold-text-desktop {
      font-family: 'Poppins', sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 13px;
      line-height: 16px;
      color: #344563;
      height: 16px;
      margin-left: 16px;
    }

    .text-1-desktop {
      font-family: 'Poppins', sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 13px;
      line-height: 16px;
      color: #7a869a;
      height: 16px;
    }

    .primary-text-desktop {
      font-family: 'Poppins', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 24px;
      color: #344563;
      margin: 0 16px;
    }

    .tags {
      height: 8vh;
      width: 100%;
      padding-left: 6px;
    }

    .project,
    .project1 {
      width: 100%;
    }

    .button-popup {
      background-color: #fff;
      color: #396df2;
      padding: 12px;
      text-align: center;
      text-decoration: none;
      font-family: 'Poppins', sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 17px;
      line-height: 24px;
      margin: 20px 16px;
      cursor: pointer;
      border: 1px solid #6070ff;
      border-radius: 8px;
    }

    .ruby {
      font-family: 'Poppins', sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 16px;
      color: #6070ff;
      border-radius: 8px;
      width: 110px;
      height: 24px;
      background: #ebebff;
      padding: 4px 12px 4px 12px;
      margin: 8px;
      justify-content: center;
    }

    .base {
      display: flex;
    }

    .form-content-container {
      padding: 100px 250px 0 250px;
    }

    .form-header {
      display: flex;
      justify-content: center;
      text-align: center;
      font-family: 'Poppins', sans-serif;
      width: 85%;
      font-size: 40px;
      font-weight: 700;
      line-height: 52px;
      color: #fff;
      margin-top: 87px;
    }

    .form-description {
      transition: transform 2s ease-in-out;
      width: 100%;
      margin: 12px 0;
      font-family: 'Poppins', sans-serif;
      font-size: 20px;
      font-weight: 400;
      line-height: 28px;
      letter-spacing: 0;
      text-align: center;
      color: #ebebff;
    }

    form {
      display: flex;
      flex-direction: column;
      width: 85%;
      padding-left: 25px;
      gap: 20px;
    }

    .form-element,
    textarea {
      background: #fff;
      border-radius: 2px;
      border: 1px solid #cfd8dc;
      font-family: 'Poppins', sans-serif;
      font-size: 17px;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: 0;
      text-align: left;
      padding: 15px 16px;
    }

    textarea {
      height: 170px;
      width: 100%;
      margin-top: -2px;
      margin-bottom: 27px;
      color: #000;
      font-size: 15px;
      line-height: 24px;
    }

    .form-element {
      width: 100%;
      height: 48px;
      color: #172b4d;
    }

    .submit-btn-container {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .about-text {
      width: 90%;
      font-family: 'Poppins', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: #344563;
      margin-left: 25px;
      padding-top: 16px;
    }

    .about-base {
      width: 100%;
      margin-top: 15%;
    }

    .language-desktop {
      width: 100%;
      margin-top: 100px;
    }

    #submit-btn {
      font-family: 'Poppins', sans-serif;
      font-size: 17px;
      font-weight: 500;
      line-height: 24px;
      letter-spacing: 0.03em;
      text-align: center;
      border-radius: 8px;
      padding: 12px 10px;
      width: 35%;
      height: 48px;
      border: none;
      color: #6070ff;
      transition: linear 0.3s;
      margin-bottom: 50px;
    }

    .about-myself {
      width: 100%;
      padding-left: 100px;
    }

    .language-bar {
      display: flex;
    }

    .bar {
      display: flex;
      flex-direction: column;
      width: 20%;
      height: 90px;
    }

    .html-bar,
    .css-bar,
    .js-bar {
      padding-top: 10px;
    }
  }

  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    .navbar,
    .menu,
    .card-image,
    .bold-text,
    .primary-text,
    .text-1,
    .project-title,
    .project-title-1,
    .black-line-container {
      display: none;
    }

    .project,
    .project1 {
      width: 100%;
    }

    #mobile-popup {
      display: none;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
      width: 100%;
    }

    .popup-img {
      width: 97%;
      margin: 15px 16px 5px 16px;
      height: 65vh;
      object-fit: cover;
      border-radius: 16px;
    }

    .popup-flex {
      display: grid;
      grid-template-columns: 3fr 2fr;
      width: 100%;
    }

    .desktop-header,
    .list-items {
      display: flex;
    }

    .list-item {
      padding-left: 32px;
    }

    .headline {
      padding: 150px 100px 55px 100px;
    }

    .container,
    .container-1 {
      display: flex;
      margin: 60px;
    }

    .container-1 {
      padding-top: 2px;
    }

    .desktop-title {
      width: 100%;
    }

    .card-image-desktop {
      display: flex;
      border-radius: 8px;
      padding: 16px;
    }

    .card-img-desktop,
    .card1-img-desktop {
      width: 100%;
    }

    .project-title-desktop,
    .project-title1-desktop {
      font-family: 'Poppins', sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 27px;
      line-height: 44px;
      color: #172b4d;
      width: 100%;
      height: 36px;
      padding-top: 48px;
      padding-bottom: 30px;
    }

    .bold-text-desktop {
      font-family: 'Poppins', sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 13px;
      line-height: 16px;
      color: #344563;
      height: 16px;
      margin-left: 16px;
    }

    .text-1-desktop {
      font-family: 'Poppins', sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 13px;
      line-height: 16px;
      color: #7a869a;
      height: 16px;
    }

    .primary-text-desktop {
      font-family: 'Poppins', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 24px;
      color: #344563;
      margin: 0 16px;
    }

    .tags {
      height: 7vh;
      width: 100%;
    }

    .ruby {
      font-family: 'Poppins', sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 20px;
      color: #6070ff;
      border-radius: 8px;
      width: 130px;
      height: 24px;
      background: #ebebff;
      padding: 4px 12px 4px 12px;
      margin: 8px;
      justify-content: center;
    }

    .about-text {
      width: 95.3%;
      font-family: 'Poppins', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: #344563;
      margin-left: 25px;
      padding-top: 16px;
    }

    .about-base {
      width: 100%;
      margin-top: 70px;
    }

    .headline-2 {
      font-size: 24px;
      line-height: 30px;
    }

    .bold-text-desktop{
      font-size: 18px;
    }

    .text-1-desktop, .text-2 {
      font-size: 15px;
    }

    .primary-text-desktop {
      font-size: 17px;
    }

    .project-title-desktop, .project-title1-desktop {
      font-size: 30px;
    }

    h4 {
      font-size: 19px;
    }

    .language-desktop {
      width: 100%;
      margin-top: 100px;
    }

    .budget-img {
      height: 50vh;
    }
  }
}
